*.pyc
temp*
outputs*
debug*
log*
wandb*
*.bak
data
*build/*
*__pycache__*
tensorboard_3d
screenshots
*.so

submodules/Depth-Anything-V2/*
.codex
Car.mtl
sky0.hdr
Car.obj
res.txt
road_subset_preview.mp4
